{
    "extends": [
        "eslint-config-hein"
    ],
    "rules": {
        "unicorn/prefer-add-event-listener": "off",
        "mocha/no-top-level-hooks": "off",
        "@typescript-eslint/no-extra-parens": "off",
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "tabWidth": 4,
                "printWidth": 120,
                "trailingComma": "none",
                "endOfLine": "lf"
            }
        ],
        "mocha/no-sibling-hooks": "off",
        "unicorn/prefer-event-target": "off"
    },
    "overrides": [
        {
            "files": [
                "src/utils/test/*.ts"
            ],
            "rules": {
                "mocha/no-exports": "off"
            }
        },
        {
            "files": [
                "src/utils/test/*.ts",
                "src/**/*.test.ts"
            ],
            "rules": {
                "import/no-extraneous-dependencies": "off"
            }
        }
    ]
}