{
    "extension": [
        ".ts"
    ],
    "require": [
        "ts-node/register/transpile-only"
    ],
    "reporter": [
        "lcov",
        "text",
        "text-summary",
        "html"
    ],
    "sourceMap": true,
    "instrument": true,
    "check-coverage": true,
    "statements": 99,
    "branches": 99,
    "functions": 99,
    "lines": 99
}
